
/* Your CSS Code here. */
.holder{
	display:flex;
/* 	border: 2px solid green;
	height:200px; */
	flex-wrap: wrap;
	justify-content:center;
}

/* .flex-item{
	padding:40px;
	background-color:blue;
	color:white;
} */